<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Agrove.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>22</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
				<key>dateExpires</key>
				<string>29/10/2022</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LinearProgressView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RGPD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwinjectStoryboard.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31CF798102691E0612EBD6808EDB4575A68701AF</string>
						<key>dateExpires</key>
						<string>29/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R8WB4V47S2</string>
						<key>name</key>
						<string>AGROVE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R8WB4V47S2.com.agrove.ios</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>R8WB4V47S2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Agrove.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0a30bfba-ef7e-442b-a2f1-cc7c973405c4</string>
				<key>dateExpires</key>
				<string>29/10/2022</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.agrove.ios</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R8WB4V47S2</string>
				<key>name</key>
				<string>AGROVE</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.12</string>
		</dict>
	</array>
</dict>
</plist>
